.table-head {
    background-color: #1985a1;
    color: #eee;
    cursor: default;
}

.name-sort {
    cursor: pointer;
    font-family: FontAwesome;

}
 i {
    font-style: normal;
    padding-left: 10px;
 }
